
/* White and Black */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

/* Gray */
$gray-900: rgb(40, 53, 79);
$gray-800: rgb(57, 75, 104);
$gray-700: rgb(74, 97, 127);
$gray-600: rgb(107, 132, 158);
$gray-500: rgb(149, 167, 188);
$gray-400: rgb(182, 195, 212);
$gray-300: rgb(216, 223, 232);
$gray-200: rgb(229, 234, 241);
$gray-100: rgb(244, 246, 248);

/* Blue */ 
$blue-900: rgb(0, 74, 152);
$blue-800: rgb(0, 101, 182);
$blue-700: rgb(0, 105, 205);
$blue-600: rgb(0, 151, 237);
$blue-500: rgb(0, 176, 255);
$blue-400: rgb(17, 196, 252);
$blue-300: rgb(80, 211, 254);
$blue-200: rgb(163, 230, 250);
$blue-100: rgb(214, 243, 255);

/* Green */
$green-900: rgb(3, 100, 79);
$green-800: rgb(3, 125, 82);
$green-700: rgb(4, 148, 91);
$green-600: rgb(4, 172, 100);
$green-500: rgb(5, 190, 113);
$green-400: rgb(52, 204, 136);
$green-300: rgb(116, 210, 153);
$green-200: rgb(165, 228, 189);
$green-100: rgb(201, 238, 221);

/* Red */
$red-900: rgb(165, 0, 53);
$red-800: rgb(191, 0, 63);
$red-700: rgb(213, 27, 70);
$red-600: rgb(237, 58, 74);
$red-500: rgb(245, 82, 78);
$red-400: rgb(247, 114, 103);
$red-300: rgb(255, 153, 138);
$red-200: rgb(251, 197, 188);
$red-100: rgb(255, 225, 223);

/* Yellow */
$yellow-900: rgb(149, 58, 39);
$yellow-800: rgb(171, 90, 54);
$yellow-700: rgb(194, 125, 71);
$yellow-600: rgb(217, 158, 83);
$yellow-500: rgb(241, 189, 92);
$yellow-400: rgb(249, 213, 109);
$yellow-300: rgb(249, 230, 134);
$yellow-200: rgb(250, 242, 181);
$yellow-100: rgb(253, 251, 228);

/* Purple */
$purple-900: rgb(92, 49, 156);
$purple-800: rgb(110, 64, 181);
$purple-700: rgb(127, 76, 194);
$purple-600: rgb(152, 96, 223);
$purple-500: rgb(164, 134, 237);
$purple-400: rgb(183, 167, 245);
$purple-300: rgb(195, 202, 248);
$purple-200: rgb(217, 223, 255);
$purple-100: rgb(242, 245, 253);
